# OAuth 1.0 Keys
consumer_key = ""
secret_key = ""

# OAuth 2.0 Keys
client_id = ""
client_secret = ""
access_token = ""
refresh_token = ""

# app-only auth (not needed right now but could be useful in the future, for example if you want to search for mentions of your game or pull public tweet stats)
bearer_token = ""

# Discord Bot Token
discord_token = ""